@model CompetencyAssesment.ViewModel.ResetPassword

@{
    ViewData["Title"] = "ResetPassword";
}


<h4>ResetPassword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReTypeNewPassword" class="control-label"></label>
                <input asp-for="ReTypeNewPassword" class="form-control" />
                <span asp-validation-for="ReTypeNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@{

    if(ViewBag.msg == "success")
    {
        <p>your password has reset</p>
        @Html.ActionLink("clickhere to login", "Login", "PL_UserManagement");
    }

    else
    {
        <p>@ViewBag.msg</p>
    }
}





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
